.row{
    max-width:$grid-width;
    background-color:#eee;
    margin: 0 auto;
    //selecciona todo menos "last child"
    &:not(:last-child){
        margin-bottom:$margin-between-col-vertical;
    }

    @include clearflix;

    //class^="col-" selecciona todas las clases que empicen con col-
    //class*="col-" selecciona todas las clases que contengan  col-
    //class$="col-" selecciona todas las clases que terminen  col-
    [class^="col-"]{
        background-color: orange;
        float:left; //al utilizar la tecnica float esta hace q se pierda "height" del contenedor padre "row"
        //por ello incluyo el mixin clearfix;

        &:not(:last-child){
            margin-right: $margin-between-col-horizontal;
        }
    }

    .col-2{
        
        //para usar variables de SCSS dentro de la funcion calc debe hacerse asi:
        width:calc( (100% - #{$margin-between-col-horizontal})/ 2);
       
    }

    .col-1{
        //son 3 margenes (la ultima no se cuenta y lo divido entre los 4 elementos
        width:calc( (100% - #{$margin-between-col-horizontal} * 3)/ 4);
    }

    .col-3{
        //sumo 3 col-1 + 2 margenes
        width:calc( ((100% - #{$margin-between-col-horizontal} * 3)/ 4 ) * 3 + (2*#{$margin-between-col-horizontal}) );    
    }
}