
//sin float utilizando display inline-block
//al hacerlo asi existen unos margenes o espacios q toca ajustar
//para ello  se agregan las propiedades en la clase row: overflow:hidden, white-space:nowrap
//como efecto secundario  white-space:nowrap hace q el contenido de las celdas se ajuste en una sola linea pro ello en las celdas
// volvemos a ajustar esta propiedad: [class^="col-"] white-space: normal;
.rowInlineBlock{
    max-width:$grid-width;
  //  background-color:blue;
    margin: 0 auto;
   // overflow: hidden;
    white-space: nowrap;

    *{
        //restableco la propiedad para todos los elementos q esten dentro
        white-space: initial
    }

    @include respond(tab-port){
        max-width:95%;
    }

    @include respond(phone){
        white-space:inherit;
        max-width:70%;
    }
    
    //selecciona todo menos "last child"
    &:not(:last-child){
        margin-bottom:$margin-between-col-vertical;

        @include respond(phone){
            margin-bottom:$margin-between-col-vertical-small
        }
    }

    //class^="col-" selecciona todas las clases que empicen con col-
    //class*="col-" selecciona todas las clases que contengan  col-
    //class$="col-" selecciona todas las clases que terminen  col-
    [class^="col-"]{
        display: inline-block;
        white-space: normal; //esta propiedad tambien debe settearse y permite q el texto ocupe el espacio... si es mas grande salta de linea para corregir
        //lo q pusismo en el padre
        vertical-align: top;
        &:not(:last-child){
            margin-right: $margin-between-col-horizontal;
            @include respond(phone){
                margin-bottom:$margin-between-col-vertical-small
            }
        }

        @include respond(phone){
            width:100% !important;
        }
    }

    .col-2{
        margin: 0px;
        width:calc((100% - #{$margin-between-col-horizontal})/ 2);
        
    }

    .col-1{
        //son 3 margenes (la ultima no se cuenta y lo divido entre los 4 elementos
        width:calc( (100% - #{$margin-between-col-horizontal} * 3)/ 4);
    }

    .col-3{
        //sumo 3 col-1 + 2 margenes
        width:calc( ((100% - #{$margin-between-col-horizontal} * 3)/ 4 ) * 3 + (2*#{$margin-between-col-horizontal}) );    
    }

    .col-1x3{
        width:calc((100% - #{$margin-between-col-horizontal} *2 )/ 3);
    }
}


//al utilizar row float es necesario utilizar la tecnica del mixin
.rowFloat{
    max-width:$grid-width;
  //  background-color:#eee;
    margin: 0 auto;

    @include respond(tab-port){
        max-width:95%;
    }

    @include respond(phone){
        max-width:70%;
    }

    //selecciona todo menos "last child"
    &:not(:last-child){
        margin-bottom:$margin-between-col-vertical;

        @include respond(phone){
            margin-bottom:$margin-between-col-vertical-small;
        }
    }

    @include clearflix;

    //class^="col-" selecciona todas las clases que empicen con col-
    //class*="col-" selecciona todas las clases que contengan  col-
    //class$="col-" selecciona todas las clases que terminen  col-
    [class^="col-"]{
       // background-color: rgb(248, 255, 255);
        float:left; //al utilizar la tecnica float esta hace q se pierda "height" del contenedor padre "row"
        //por ello incluyo el mixin clearfix;

        &:not(:last-child){
            margin-right: $margin-between-col-horizontal;
            @include respond(phone){
                margin-right: 0;
                margin-bottom:$margin-between-col-vertical-small;
            }
        }

        @include respond(phone){
            width:100% !important;
        }
    }

    .col-2{ 
        //para usar variables de SCSS dentro de la funcion calc debe hacerse asi:
        width:calc( (100% - #{$margin-between-col-horizontal})/ 2);
       
    }

    .col-1{
        //son 3 margenes (la ultima no se cuenta y lo divido entre los 4 elementos
        width:calc( (100% - #{$margin-between-col-horizontal} * 3)/ 4);
    }

    .col-3{
        //sumo 3 col-1 + 2 margenes
        width:calc( ((100% - #{$margin-between-col-horizontal} * 3)/ 4 ) * 3 + (2*#{$margin-between-col-horizontal}) );    
    }

    .col-1x3{
        width:calc((100% - #{$margin-between-col-horizontal} *2 )/ 3);
    }
}