.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark,0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*aplica las 4 coordenas donde quiero q persista la imagen*/
    position:relative;

    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        height:50vh
    }

    // "&" representa el nombre de la clase que tenemos, en este caso header
    &__logo-box{ // por lo tanto esta etiqueta es igual a: .header__logo-box
        position: absolute;
        top:4rem;
        left:4rem;
    }

    &__text-box{
        position: absolute; /*
        *la posicion absoluta se hace en relacion con su objeto padre q este con posicionado con alguna propiedad
        si no existe alguno toma el document body, por esta razon en este ejemplo ponemos position:relative el header
         */
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    &__logo{
        height:3.5rem
    }
}